.nav{
    background-image: linear-gradient(to right, rgba(teal, 0.8), rgba(indigo, 0.6));
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
      &__search{
        position: absolute;
        top: 50%;
        left: 50%;
      translate: -50% -50%;
      border-radius: 30%;
      }
      &__logo{
        color:white;
      }
  }
	.MuiAutocomplete-inputRoot{
    background-color: white;
  }
  .MuiAutocomplete-noOptions{
    background-color: white;
  }