.nav{
    background-image: linear-gradient(to right, rgba(teal, 0.8), rgba(indigo, 0.6));
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    
      &__search{
        width: 50%;
      margin: 0 auto;
      border-radius: 30%;
      }
      &__logo{
        color:white;
      }
  }
	.MuiAutocomplete-inputRoot{
    background-color: white;
  }
  .MuiAutocomplete-noOptions{
    background-color: white;
  }