.news{
    @media only screen and (min-width: 900px) {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch; /* enables momentum-scrolling on iOS */
        position: absolute;
        top: 22%;
        left: 75%;
        right: 0;
        bottom: 0;
      }
    
    &-margin:not(:first-child) {
        margin-bottom: 2rem;
    }
}
.head{
    text-align: center;
    z-index: 1;
    position: relative;
    background-image: linear-gradient(to right, rgb(42, 186, 186), rgb(54, 19, 80));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -50%;
        translate: -50% -50%;
        width: 12rem;
        border-bottom: 1px solid indigo;
       
      }
    
}

.card{
    padding: 0 1rem;
    margin-bottom: 1rem;
    background-color: #222;
    @media only screen and (max-width: 900px) {
        width: 60%;
        text-align: center;
        position: relative;
        left: 17%;
      }
    // width: 15rem;
    &__shape {
        @media only screen and (min-width: 900px) {
            // left: 27%;
          }
          @media only screen and (max-width: 899px) {
            float: left;
            shape-outside: circle(50% at 50% 50%);
            // translate: -50% 0%;
        }
        float: left;
            shape-outside: circle(50% at 50% 50%);
        width: 8rem;
        height: 8rem;
        display: block;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        
    }
    &__img {
        height: 100%;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        position: absolute;
        
    }
    &__title{
        text-align: center;
    }

    &__summary{
        text-align: center;
    }

    &__link,
    &__link:link,
    &__link:visited{
        text-decoration: none ;
    }
}
