@font-face {
  font-family: 'Helvetica Neue';
  src: url('./components/styles/fonts/helvetica-neu.ttf');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font: bolder 1rem 'Helvetica Neue', sans-serif;
}
